@{
    @*ViewData?["Title"] = "AboutUs"; *@
}
<h1>@ViewData["Title"]</h1>
<link rel="stylesheet" href="~/css/aboutus.css" />

<div class="grid-container_aboutus">
    <header class="header_aboutus">
        <h1 class="title">About Us</h1>
    </header>
    <div class="content_aboutus">
        <div class="main-content_aboutus">
            <div class="container-group_aboutus">
                <div class="container_aboutus">
                    <p>
                        ✨ Comprehensive House Management: From routine maintenance to
                        emergency repairs, our dedicated team handles every aspect of
                        house management with precision and care. We believe in
                        preserving the integrity of your home, ensuring it remains a
                        sanctuary for you and your family.
                    </p>
                </div>
                <div class="container_aboutus">
                    <p>
                        🌐 Cutting-edge Technology: "House Manager" integrates
                        state-of-the-art technology to streamline house management.
                        Monitor and control your property remotely, ensuring peace of
                        mind and convenience at your fingertips.
                    </p>
                </div>
            </div>
            <div class="container-group_aboutus">
                <div class="container_aboutus">
                    <p>
                        🔐 Security and Safety First: Your safety is our priority. Our
                        security protocols and monitoring systems guarantee a secure
                        environment, allowing you to relax and enjoy your home without
                        worry.
                    </p>
                </div>
                <div class="container_aboutus">
                    <p>
                        🤝 Tailored Services: Recognizing that every home is unique, we
                        offer personalized house management solutions. Whether you
                        require regular cleaning, landscaping, or specialized services,
                        we tailor our offerings to match your specific needs.
                    </p>
                </div>
            </div>
            <div class="container-group_aboutus">
                <div class="container_aboutus">
                    <p>
                        📅 Proactive Maintenance: "House Manager" takes a proactive
                        approach to maintenance, identifying and addressing potential
                        issues before they become problems. This proactive stance not
                        only preserves the value of your property but also saves you
                        time and money.
                    </p>
                </div>
                <div class="container_aboutus">
                    <p>
                        🌟 Exceptional Customer Service: Our commitment to excellence
                        extends to our customer service. Experience prompt, friendly,
                        and efficient service from our team, ensuring your satisfaction
                        with every interaction.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
