/* CSS for AboutUs page */

/* Header */
.header_aboutus {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

/* Content */
.content_aboutus {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

/* Main Content */
.main-content_aboutus {
    max-width: 800px;
}

/* Container for each section */
.container_aboutus {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Container group */
.container-group_aboutus {
    display: flex;
    justify-content: space-between;
}

/* Paragraph styling */
.container_aboutus p {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}
.grid-container_aboutus {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}


.title {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-top: 20px;
}
