<header className="header_services" />
<link rel="stylesheet" href="~/css/service.css"/>
<div className="content_services">
    <div className="main-content_services">
        <h2>House Management Services and Prices</h2>
        <div className="table-container_services">
            <table>
                <thead>
                    <tr>
                        <th className="classth">Service</th>
                        <th className="classth">Price (BGN)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Cleaning</td>
                        <td>100 BGN</td>
                    </tr>
                    <tr>
                        <td>Gardening</td>
                        <td>80 BGN</td>
                    </tr>
                    <tr>
                        <td>Maintenance</td>
                        <td>120 BGN</td>
                    </tr>
                    <tr>
                        <td>Painting</td>
                        <td>150 BGN</td>
                    </tr>
                    <tr>
                        <td>Plumbing</td>
                        <td>90 BGN</td>
                    </tr>
                    <tr>
                        <td>Electrical Work</td>
                        <td>110 BGN</td>
                    </tr>
                    <tr>
                        <td>Security Services</td>
                        <td>200 BGN</td>
                    </tr>
                    <tr>
                        <td>Interior Design</td>
                        <td>180 BGN</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div className="content_gallery">
            <div className="main-content_gallery">
                <div className="main-content-background_gallery">
                    <div className="container_gallery">
                        <div className="container-group_gallery">
                            <div id="myModal_gallery" className="modal_gallery">
                                <div className="modal-container_gallery">
                                    <img src="../Views/Visuals/maintenance.png"
                                         className="modal-content_gallery"
                                         id="img01"
                                         alt="Error" />
                                    <p className="info_gallery_gallery" id="I" />
                                </div>
                                <span className="close_gallery">×</span>
                            </div>
                            <div className="container1_gallery">
                                <img className="gallery_gallery"
                                     id="myImg1"
                                     src='../Views/Visuals/background.png'>
                            </div>
                            <div className="container1_gallery">
                                <img className="gallery_gallery"
                                     id="myImg2"
                                     src={require('../../Visuals/gardening.jpg')}
                                     style={{ maxWidth: "100%" , maxHeight: "100%" }}
                                     alt="Error" />
                            </div>
                            <div className="container1_gallery">
                                <img className="gallery_gallery"
                                     id="myImg3"
                                     src={require('../../Visuals/maintenance.png')}
                                     style={{ maxWidth: "100%" , maxHeight: "100%" }}
                                     alt="Error" />
                            </div>
                        </div>
                        <div className="container-group_gallery">
                            <div className="container1_gallery">
                                <img className="gallery_gallery"
                                     id="myImg4"
                                     src={require('../../Visuals/painting.jpg')}
                                     style={{ maxWidth: "100%" , maxHeight: "100%" }}
                                     alt="Error" />
                            </div>
                            <div className="container1_gallery">
                                <img className="gallery_gallery"
                                     id="myImg5"
                                     src={require('../../Visuals/plumbing.png')}
                                     style={{ maxWidth: "100%" , maxHeight: "100%" }}
                                     alt="Error" />
                            </div>
                            <div className="container1_gallery">
                                <img className="gallery_gallery"
                                     id="myImg6"
                                     src={require('../../Visuals/painting.jpg')}
                                     style={{ maxWidth: "100%" , maxHeight: "100%" }}
                                     alt="Error" />
                            </div>
                        </div>
                        <div className="container-group_gallery">
                            <div className="container1_gallery">
                                <img className="gallery_gallery"
                                     id="myImg7"
                                     src={require('../../Visuals/electrician.png')}
                                     style={{ maxWidth: "100%" , maxHeight: "100%" }}
                                     alt="Error" />
                            </div>
                            <div className="container1_gallery">
                                <img className="gallery_gallery"
                                     id="myImg8"
                                     src={require('../../Visuals/security.png')}
                                     style={{ maxWidth: "100%" , maxHeight: "100%" }}
                                     alt="Error" />
                            </div>
                            <div className="container1_gallery">
                                <img className="gallery_gallery"
                                     id="myImg9"
                                     src={require('../../Visuals/designer.png')}
                                     style={{ maxWidth: "100%" , maxHeight: "100%" }}
                                     alt="Error" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
